# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

concurrency: 
  group: "build-1.18"
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '*.md'
      

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'zulu'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: |
        # TODO: this is fucking stupid
        curl "https://maven.meteordev.org/releases/club/minnced/java-discord-rpc/2.0.2/java-discord-rpc-2.0.2.jar" -o "/home/runner/work/meteor-rejects/meteor-rejects/.gradle/loom-cache/v3.4.0/discord-rpc-release.jar"
        ./gradlew build
    - name: Remove *-dev.jar
      run: rm ./build/libs/*-dev.jar
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest-1.18"
          prerelease: false
          title: "1.18 Build"
          files: |
            ./build/libs/*.jar
    
